/* ==UserStyle==
@name           social.lol - 3/28/2023, 6:56:50 PM
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Darcula based on Tangerine UI Mastodon theme
@author         @imcarvalho
==/UserStyle== */

@-moz-document domain("social.lol") {
    @media (prefers-color-scheme: dark) {
        :root {
            --color-bg: #282A36;
            --color-fg: #e0d6d1;
            --color-fg-muted: #BD93F9AA;
            --color-secondary-bg: #282A36;
            --color-secondary-separator: #25201c;

            --color-content-bg: #282A36;
            --color-content-fg: #f2f2f2;
            --color-content-fg-bold: #ffffff;
            --color-content-fg-muted: #BD93F9AA;
            --color-content-secondary-bg: #BD93F911;
            --color-content-secondary-separator: #BD93F911;
            --color-content-bg-focus: #1b1b1b;

            --color-accent: #E65DA9;
            --color-accent-focus: #E65DA9;
            --color-accent-lines: #BD93F9;
            --color-accent-bg: #BD93F911;
            --color-accent-fg: #ffffff;

            --color-lines: transparent;
            
            color: #49DE80;
        }
    }
    
    .compose-form .compose-form__buttons-wrapper,
    .app-body .tabs-bar__wrapper, 
    .app-body .column-header {
        background-color: var(--color-bg);
    }
    
    .app-body .compose-form__highlightable {
        border: 2px solid var(--color-accent-lines);
        border-radius: 6px;
    }
    
    
    @media screen and (min-width: 1175px) {
      .app-body .columns-area__panels__main
    {
        width: 100%;
        max-width: 50vw;
        padding: 0 20px;
      }
    }

    
    .media-gallery {
      max-height: 400px
    }
    
    .media-gallery__item--wide {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    
    .media-gallery__item-thumbnail img, .media-gallery__preview {
      object-fit: contain;
    }
    
    .media-gallery__item-thumbnail, .media-gallery__item-thumbnail img {
      max-height: 400px;
      height: 100%;
      width: inherit;
    }
}
