/* ==UserStyle==
@name           social.lol - 3/28/2023, 6:56:50 PM
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Darcula based on Tangerine UI Mastodon theme
@author         @imcarvalho
==/UserStyle== */

@-moz-document domain("social.lol") {
    @media (prefers-color-scheme: dark) {
        :root {
            --color-bg: #282A36;
            --color-fg: #e0d6d1;
            --color-fg-muted: #BD93F9AA;
            --color-secondary-bg: #282A36;
            --color-secondary-separator: #25201c;

            --color-content-bg: #282A36;
            --color-content-fg: #f2f2f2;
            --color-content-fg-bold: #ffffff;
            --color-content-fg-muted: #BD93F9AA;
            --color-content-secondary-bg: #BD93F911;
            --color-content-secondary-separator: #BD93F911;
            --color-content-bg-focus: #1b1b1b;

            --color-accent: #E65DA9;
            --color-accent-focus: #E65DA9;
            --color-accent-lines: #BD93F9;
            --color-accent-bg: #BD93F911;
            --color-accent-fg: #ffffff;

            --color-lines: transparent;
            
            color: #49DE80;
        }
    }
}
